body {
    background:rgb(255, 255, 255);
    width: 100%;
    min-height: 100vh;
    margin-top: 50px;
    padding: 0;
    justify-content: center;
}
#title {
    color: #a870af;
    font-size: 20px;
    padding: 5;
    margin: 5;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#texto {
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 5;
    margin: 5;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#footer{
    color: rgb(99, 99, 99);
    font-size: 11px;
    padding: 5;
    margin: 5;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    justify-content: center;
}
.box{
margin: 5px;
width: 300px;
height: 200px;
border-radius: 5%;
border: 1px solid;
background-color: rgb(232, 248, 248);
color:#595a5a;
margin: auto;
text-align: center;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}